#NullpoMino Global Config
#Fri Nov 20 21:05:55 CET 2015
0.tuning.owBlockShowOutlineOnly=1
0.tuning.owSkin=-1
0.rule=config/rule/Standard.rul
global.firstSetupMode=false
1.tuning.owRotateButtonDefaultRight=0
0.tuning.owBlockOutlineType=1
name.mode.MANIA\ MODES=GRADE MANIA 3
0.rulename=STANDARD
0.rulefile.3=SPF.rul
0.rulefile.2=Physician.rul
0.rulefile.1=Avalanche.rul
0.tuning.owMinDAS=-1
0.aiPrethink=false
0.aiThinkDelay=0
updatechecker.startupCount=1
0.rulefile=Standard.rul
0.tuning.owDasDelay=-1
0.aiUseThread=true
1.rulename=STANDARD
1.rulename.3=SPF
1.rulename.2=PHYSICIAN
name.mode.toplevel=GRADE MANIA 3
1.rulename.1=AVALANCHE
name.mode=GRADE MANIA 3
1.rulefile=Standard.rul
0.tuning.owMaxDAS=-1
0.aiShowState=false
0.aiShowHint=false
0.ai=mu.nu.nullpo.game.subsystem.ai.BasicAI
1.rule=config/rule/Standard.rul
1.rulefile.3=SPF.rul
1.rulefile.2=Physician.rul
1.rulefile.1=Avalanche.rul
0.rule.3=config/rule/SPF.rul
0.rule.2=config/rule/Physician.rul
0.rule.1=config/rule/Avalanche.rul
0.tuning.owMoveDiagonal=-1
1.rule.3=config/rule/SPF.rul
1.rule.2=config/rule/Physician.rul
1.rule.1=config/rule/Avalanche.rul
0.tuning.owRotateButtonDefaultRight=0
0.rulename.3=SPF
0.aiMoveDelay=0
0.rulename.2=PHYSICIAN
0.rulename.1=AVALANCHE
0.tuning.owReverseUpDown=false
lastrule.GRADE\ MANIA\ 3=CLASSIC3
